{% extends 'base.html' %}
{% block Content %}
<main class="my-5">
    <div class="container">
      <!--Section: Content-->
      <section class="text-center">
        <h4 class="mb-5"><strong>Latest posts</strong></h4>

        <div class="row " >
            {% for blog in Blogs %}
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card" >
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="{{blog.image.images.url}}" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{blog.title}}</h5>
                <p class="card-text">
                    {{blog.image.description | truncatechars:100}}
                </p>
                <a href="{% url 'BlogViewDeatils'  blog.id %}" class="btn btn-primary">Read More..</a>
              </div>
            </div>
          </div>
          {% endfor %}

        
      </section>
      <!--Section: Content-->

      
  </main>
{% endblock Content %}